<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask App Example</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% block style %}
    {% endblock %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Example of displaying JSON (Python dictionary) response from SpotiPy API on webpage.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>{% block title %}{% endblock %}</h2>
            </div>
        </div>
        {% block main %}
        {% endblock %}
    </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>